<mat-list>
  <div class="mt-5 flex justify-between items-center">
    <div class="text-lg font-bold px-3 my-3">Categories</div>
    <mat-action-list>
      <button mat-fab color="primary" [routerLink]="['', 'categories', 'form']">
        <mat-icon>add</mat-icon>
      </button>
    </mat-action-list>
  </div>

  <ng-template #loadingCats> Loading .... </ng-template>

  <ng-container *ngIf="categories$ | async as categories; else loadingCats">
    <mat-list-item class="border-b-2" *ngFor="let item of categories">
      <img matListItemAvatar [src]="item.image" />
      <div matListItemTitle>{{ item.title }}</div>
      <div matListItemLine>{{ item.updatedAt | date }}</div>

      <div matListItemMeta>
        {{ item.details }}
      </div>
      <button [routerLink]="['', 'categories', 'form', item.id]" mat-icon-button matListItemMeta>
        <mat-icon color="primary">info</mat-icon>
      </button>
      <button (click)="deleteCategory(item)" mat-icon-button matListItemMeta>
        <mat-icon color="warn">delete</mat-icon>
      </button>
    </mat-list-item>
  </ng-container>
</mat-list>
