<mat-list>
  <div class="flex justify-between items-center ">
    <div class="text-lg font-bold px-3 my-3">
      Categories
    </div>
    <mat-action-list>
      <button mat-fab color="primary" [routerLink]="['', 'categories', 'form']">
        <mat-icon>add</mat-icon>
      </button>
    </mat-action-list>
  </div>
  <mat-list-item class="border-b-2"  *ngFor="let item of categories">
    <img matListItemAvatar [src]="item.image" />
    <div matListItemTitle>{{ item.title }}</div>
    <div matListItemLine>{{ item.updatedAt | date }}</div>

    <div matListItemMeta>
      {{ item.details }}
    </div>
    <button mat-icon-button matListItemMeta>
      <mat-icon>info</mat-icon>
    </button>
    <button mat-icon-button matListItemMeta>
      <mat-icon>delete</mat-icon>
    </button>
  </mat-list-item>
</mat-list>

