<mat-card class="mx-5 my-8 p-5">
  <mat-card-title>Create a Category</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" class="flex flex-wrap justify-around">
      <div class="w-1/2 p-3">
        <mat-form-field>
          <mat-label>الاسم</mat-label>
          <input matInput type="text" formControlName="name" />
        </mat-form-field>
      </div>

      <div class="w-1/2 p-3">
        <mat-form-field>
          <mat-label>كلمة السر</mat-label>
          <input matInput type="password" formControlName="password" />
        </mat-form-field>
      </div>

      <div class="w-1/2 p-3">
        <mat-form-field>
          <mat-label> نوعية المستخدم </mat-label>
          <mat-select formControlName="role">
            <mat-option value="worker"> عامل </mat-option>
            <mat-option value="admin"> مدير </mat-option>
            <mat-option value="client"> زبون </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="w-1/2 p-3">
        <mat-form-field>
          <mat-label>Phone</mat-label>
          <input matInput type="tel" formControlName="phone" />
        </mat-form-field>
      </div>

      <div class="w-1/2 p-3">
        <mat-form-field>
          <mat-label>Address</mat-label>
          <input matInput type="text" formControlName="address" />
        </mat-form-field>
      </div>

      <div class="w-1/2 p-3">
        <mat-slide-toggle color="primary" formControlName="active">
          مفعل
        </mat-slide-toggle>
      </div>

      <div class="w-1/2 p-3">
        <button type="button" mat-raised-button (click)="fileInput.click()">
          Choose File
        </button>
        <input
          #fileInput
          hidden
          (change)="onImageUpload(fileInput)"
          type="file"
        />
      </div>

      <div class="w-full overflow-auto p-3">
        <mat-accordion class="self-start w-4/5 mx-auto">
          <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
          >
          <mat-expansion-panel-header>
            <mat-panel-title> الخريطة </mat-panel-title>
            <mat-panel-description> </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <app-location-picker
              [location]="location ?? '0, 0'"
              (newCordsEvent)="addCords($event)"
            ></app-location-picker>
          </div>
        </mat-expansion-panel>
        </mat-accordion>
      </div>

    </form>
  </mat-card-content>
  <mat-card-actions [align]="'end'">
    <button
      mat-raised-button
      (click)="onSubmit()"
      color="primary"
      [disabled]="isSubmitted"
    >
      {{ editMode ? "تعديل" : "إنشاء" }}
    </button>

  </mat-card-actions>

  <!-- <div class="loading-cnt" *ngIf="isSubmitted && valid">
  <app-loading></app-loading>
    الرجاء الانتظار ...
  </div> -->
</mat-card>

