<!-- <mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
</mat-form-field>
<mat-list>
  <div mat-subheader class="relative mb-4">
    <div class="text-xl">Clients</div>

    <div class="absolute -top-2 right-0">
      <button mat-mini-fab color="clear" [routerLink]="['', 'users', 'form']">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <mat-list-item class="border-b-2"  *ngFor="let item of users$ | async">
    <img matListItemAvatar [src]="item.image" />
    <div matListItemTitle>{{ item.name }}</div>
    <div matListItemLine>{{ item.updatedAt | date }}</div>

    <div matListItemMeta>
      {{ item.address }}
    </div>
    <button [routerLink]="['', 'users', 'form', item.id]" mat-icon-button matListItemMeta>
      <mat-icon color="primary">info</mat-icon>
    </button>
    <button (click)="deleteUser(item)" mat-icon-button matListItemMeta>
      <mat-icon color="warn">delete</mat-icon>
    </button>
  </mat-list-item>
</mat-list> -->
<div class="relative mt-14 p-5">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. ium"
      #input
    />
  </mat-form-field>

  <div class="absolute top-5 right-5">
    <button [routerLink]="['', 'services', 'form']" mat-fab color="clear">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <ng-container *ngIf="users?.length">
    <table
      mat-table
      [dataSource]="dataSource"
      multiTemplateDataRows
      matSort
      class="mat-elevation-z8"
    >
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header >الاسم</th>
        <td mat-cell *matCellDef="let element">
          {{ element.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header >رقم الهاتف</th>
        <td mat-cell *matCellDef="let element">
          {{ element.phone }}
        </td>
      </ng-container>

      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef>العنوان</th>
        <td mat-cell *matCellDef="let element">
          {{ element.address }}
        </td>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header >تاريخ التسجيل</th>
        <td mat-cell *matCellDef="let element">
          {{ element.createdAt | date }}
        </td>
      </ng-container>

      <ng-container matColumnDef="buttons">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button
            [routerLink]="['', 'users', 'form', element.id]"
            mat-icon-button
            matListItemMeta
          >
            <mat-icon color="primary">info</mat-icon>
          </button>
          <button (click)="deleteUser(element)" mat-icon-button matListItemMeta>
            <mat-icon color="warn">delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
    </table>
  </ng-container>
</div>
